nodes/**/*.ts
credentials/**/*.ts

tsconfig.json
.eslintrc*
.prettierrc*
.editorconfig
.git
.gitignore
.github
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
.cache
coverage
.DS_Store
Thumbs.db
*.md
!README.md
